<!--######### Angular Pipes ##########-->
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 mt-4 mb-4">
      <input type="text" class="form-control" placeholder="search by Country"
      [(ngModel)]="searchByValue">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>SR No</th>
            <th>Name</th>
            <th>Country</th>
            <th>Role</th>
            <th>Age</th>
            <th>MatchesPlayed</th>
            <th>TotalWickets</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of playersArray | filterplayers : searchByValue; index as i">
            <td>{{i + 1}}</td>
            <td>{{player.name}}</td>
            <td>{{player.country}}</td>
            <td>{{player.role}}</td>
            <td>{{player.age}}</td>
            <td>{{player.matchesPlayed}}</td>
            <td>{{player.totalWickets}}</td>
           
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
<hr>
<hr>
<!-- #######################/ -->
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-md-4" *ngFor="let file of filesArray ">
      <div class="card">
        <div class="card-header">
            <h2>{{file.name}}</h2>
        </div>
        <div class="card-body">
            <h2>{{file.size | fileSize}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- #######################/ -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <!-- <p>
        {{title | summary}}
      </p>
       -->
       
       <p>
        {{title | summary : 100}}
      </p>

      <p>
        {{title | summary : 20}}
      </p>

      <p>
        {{title | summary : 240}}
      </p>
      





      <hr>

      <hr>


      <p class="alert alert-info mt-4">
        {{title | uppercase}}
      </p>

      <p class="alert alert-info mt-4">
        {{title | lowercase}}
      </p>

      <p class="alert alert-info mt-4">
        {{title | titlecase}}
      </p>

      
        {{d | date}}
        <hr>
        {{d | date : 'short'}}

        <hr>
        {{d | date : 'mediumTime'}}

        <hr>

        coursename : {{course.courseName | uppercase }}
        <hr>

        NoofStu : {{course.NoOfStudents | number }}
        <hr>

        {{course.rating | number : "1.0-0"}}
        <hr>

        {{course.rating | number : "1.0-2"}}
        <hr>

        {{course.rating | number : "2.0-2"}}
        <hr>

        {{course.price | currency}}
        <hr>

        {{course.price | currency : "EUR"}}
        <hr>

        {{course.price | currency : "AUD"}}
        <hr>

        




    </div>
  </div>
</div>
